@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: var(--font-nerko), cursive;
}

body {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}